<%- include public/header %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-success" role="alert">恭喜您，上传文件成功！</div>
			<div class="alert alert-info" role="alert"><%=JSON.stringify(body)%></div>
			<p>
				<%=JSON.stringify(files)%>
			</p>
		</div>
	</div>
</div>

<%- include public/footer %>