	<nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <div class="navbar-header">
        	<p class="navbar-text">CopyRight&copy;2015 <%=config.title %> Kvkens</p>
        </div>
      </div>
    </nav>
</body>
</html>